<br />
@{
    ViewBag.Title = "Galeria";
}
<!DOCTYPE html>
<html>
<title>W3.CSS</title><br />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <br />
    <div class="w3-container w3-teal"><br />
        <h1>Galeria Fundevida</h1><br />
    </div>

    <div class="w3-row-padding w3-margin-top">

        <div class="w3-third">
        <div class="w3-card">
        <img src="@Url.Content("~/Content/imagenes/image7.jpg")" class="w3-round-small" alt="Norway" style="width:100%">
        <div class="w3-container">
        <h4>5 Terre</h4>
        </div>
        </div>
        </div>

        <div class="w3-third">
        <div class="w3-card">
        <img src="@Url.Content("~/Content/imagenes/nic3b1os-pobres-mexico-varios.jpg")" style="width:100%">
        <div class="w3-container">
        <h4>Monterosso</h4>
        </div>
        </div>
        </div>

        <div class="w3-third">
        <div class="w3-card">
        <img src="@Url.Content("~/Content/imagenes/Fundevida.jpg")" style="width:100%">
        <div class="w3-container">
        <h4>Vernazza</h4>
        </div>
        </div>
        </div>

        </div>
        <div class="w3-row-padding w3-margin-top">

        <div class="w3-third">
        <div class="w3-card">
        <img src="@Url.Content("~/Content/imagenes/ninos1.jpg")" style="width:100%">
        <div class="w3-container">
        <h4>Manarola</h4>
        </div>
        </div>
        </div>

        <div class="w3-third">
        <div class="w3-card">
        <img src="@Url.Content("~/Content/imagenes/peces11.jpg")" style="width:100%">
        <div class="w3-container">
        <h4>Corniglia</h4>
        </div>
        </div>
        </div>

        <div class="w3-third">
        <div class="w3-card">
        <img src="@Url.Content("~/Content/Imagenes/20150011_0.jpg")" style="width:100%">
        <div class="w3-container">
        <h4>Riomaggiore</h4>
        </div>
        </div>
        </div>

        </div>

</body>
</html>
